<html>
<head>
    <title>Home Page</title>
    <style type="text/css" media="screen">
        body{
            background-color:blue;
            text-decoration-color:white;
            font-size: 7em;
        }
    </style>
</head>
<body>
    <p>id:<%= student.id %></p>
    <p>name:<%= student.name %></p>
    <p>age:<%= student.age %></p>
    <p>city:<%= student.city %></p>
    
</body>
</html>